<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
  <title>Сортировка</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000">Сортировка</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/showbyid">Найти по ID</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/showall">Все результаты</a>
        </li>
      </ul>
    </div>
  </nav>